myborder {
  border: solid #000 thin;
  border-radius: 8px;
}
body {
  background-color: #ff7400;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
nav {
  background-color: #d00;
  width: 100px;
  height: 300px;
  border-style: solid;
  border-width: 5px;
  margin-top: 15px;
}
li {
  display: inline;
  padding: 6px;
  background: #3914af;
  border: solid #000 thin;
  margin: 6px;
}
