body {
	background-color: lightyellow;
}

ul {
	background-color:#F0C;
}

.page01 {
	background-color:#C9F;
}

.page02 {
	background-color:#F99;
}

.page03 {
	background-color:#39F;
}

.page04 {
	background-color:#36F;
}

.page05 {
	background-color:#FF0;
}


h1
{	
	color: blue;
	background:#CCC;
	border:medium;
}