/* type selectors */
article, aside, figure, figcaption, footer, header, nav, section {
    display: block;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	width: 380px;
	margin: 0 auto;
	border: 5px solid black;
}
h1, h2, ul, p {
	margin: 0;
	padding: 0;
}
h1 {
	padding-bottom: .25em;
	color: blue;
}
h2 {
	font-size: 120%;
	padding: .5em 0;
}
ul { 
	display: none;
}
img {
	height: 250px;
}
section {
	background-color: #804C00;
	font-style:italic
}
