
body {
	font-family: Georgia, "Times New Roman", Times, serif;
	background-color:#0FF;
	color: black;
}


h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	 
	padding-right: 15px;
	padding-left: 15px; 
	padding-top: 5px;
	padding-bottom: 5px;
}



h1 { font-size: 3em; }



#container {
	background-color: white;
	width: 8000px;
	margin: 0 auto;
}



a { color: red; }

#footer { 
background-color: orange;
font-variant: small-caps;
}
