extends layout

block content
  h1= title
  p To run Jasmine tests type node TestRunner.js in the command prompt
  p To read JSON and Markdown files type node server.js in the command prompt 
  p  
  h3  Charlie how can I make some of the text bold