@charset "utf-8";
/* CSS Document */

#header {
	width: 700px;
	margin-left: 200px;
}
#image {
	height: 280px;
	width: 700px;
	margin-left: 200px;
	border-top-width: 3px;
	border-bottom-width: 3px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #006645;
	border-bottom-color: #006645;
}

#pageContent {
	width: 700px;
	margin-left: 200px;
}
#footer {
	width: 700px;
	margin-left: 200px;
	float: left;
}

#sidebarNav {
	background-image: url(images/back_sidebar.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	float: right;
	height: 365px;
	width: 190px;
	padding: 15px;
}
#mainText {
	float: left;
	width: 450px;
	margin-top: 10px;
	margin-left: 10px;
}
#topNav {
	background-image: url(images/back_sidebar.jpg);
	float: right;
	width: 110px;
	padding: 10px;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 19px;
	color: #666;
	background-image: url(images/back_yosemite.png);
	background-repeat: repeat-y;
	margin: Opx;
	padding: Opx;
	background-color: #060;
}
h3 {
	font-size: 13px;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
}
ul {
	margin-top: 5px;
	margin-bottom: 5px;
}
li {
	margin-bottom: 5px;
}

h1 {
	font-size: 22px;
	font-weight: bold;
	color: #CE744F;
	margin-top: 10px;
	margin-bottom: Opx;
}
h2 {
	font-size: 16px;
	font-style: italic;
	margin-top: 10px;
	margin-right: Opx;
	margin-bottom: Opx;
	margin-left: Opx;
}
a {
	color: #C67750;
	text-decoration: none;
}
p {
	margin-top: 5px;
	margin-bottom: 5px;
}
table {
	width: 450px;
}
th {
	font-weight: bold;
	text-align: left;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CE7144;
}
td {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CE7144;
}
#topNav  a {
	font-weight: bold;
}
#header img {
	margin-top: 55px;
	border-top-width: Opx;
	border-right-width: Opx;
	border-bottom-width: Opx;
	border-left-width: Opx;
}
#sidebarNav a {
	font-size: 13px;
	font-weight: bolder;
	color: #123A18;
}
#sidebarNav p {
	font-size: 12px;
	text-align: center;
}
#footer p {
	color: #999;
	text-align: center;
}
#sidebarNav a:hover {
	color: #87AAAE;
}
a:hover {
	color: #E6986D;
}
