@charset "UTF-8";
/* CSS Document */

body{font-family:Arial, Helvetica, sans-serif;}
header{font-size:16px; color:#990000;}
section{font-size:12px; color:#000000;width:520px;}
section #title{font-size:14px; font-weight:200;color:#0C6;}
.end{background-color:#006666; width:520px; height:400px;}


#image{float:left; padding-right:15px;}

form{padding-top:10px; padding-left:10px;}
.clear{ clear:both;

.question1{padding:5px; font-size:12px}
.question1{padding:5px; font-size:12px}
.question21{padding:5px; font-size:12px}
.question3{padding:5px; font-size:12px}
.question4{padding:5px; font-size:12px}
.question5{padding:5px; font-size:12px}
.question6{padding:5px; font-size:12px}
.question7{padding:5px; font-size:12px}
.question8{padding:5px; font-size:12px}
.question9{padding:5px; font-size:12px}
.question10{padding:5px; font-size:12px}




